body { 
    background: url(https://wallpapercave.com/wp/wp4519856.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, .greeting-class{
    text-align: center;
    color: white;
}